.main-nav {
  background-color: $main-color;

  @media (min-width: $desktop-width) {
    width: 642px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(16, 21, 27, 0.3);
  }
}

.main-nav--closed .main-nav__list {
  @media (max-width: 959px) {
    display: none;
  }
}

.main-nav__list {
  @include list-init;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
  }
}

.main-nav__item {
  min-height: 46px;
  padding-top: 16px;
  text-align: center;
  border-bottom: 1px solid #222222;
  border-top: 1px solid #4c5764;

  a {
    @include text-value(18px, 32px, 700, white);
    text-transform: uppercase;

    &:hover {
      color: $violet-color;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 28px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border: 0;

    &--active a {
      padding-bottom: 5px;
      border-bottom: 2px solid white;
    }

    & a {
      @include text-value(18px, 18px, 400, white);
      text-transform: none;
    }
  }
}
