.page-main {
  margin: auto;

  &--photo {
    overflow: hidden;
  }
}

.page-main__text {
  @include text-value(14px, 30px, 400, $text-color);
  margin: 0 auto;
  padding: 45px 20px 50px;
  text-align: center;
  background-color: white;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding: 93px 50px 75px;
  }

  @media (min-width: $desktop-width) {
    padding: 93px 150px 87px;

    &--form {
      padding: 93px 100px 90px;
    }
  }

  &--form {
    padding-bottom: 30px;
  }

  &--absent-in-mobile {
    padding: 0;
    margin: 0;

    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }
}
